import { T{{pascalCase name}}Props } from './{{pascalCase name}}.types';
import React from 'react';
import s from './{{pascalCase name}}.module.scss';

export const {{pascalCase name}}: React.FC<T{{pascalCase name}}Props> = () => {
  return (
    <div className={s.container}>{{pascalCase name}}</div>
  )
};
